<h1>{{this.slide.name}}</h1>
<h4>{{this.slide.film}}</h4>
<h4>{{this.slide.year}}</h4>

<image src="{{this.slide.imageLocation}}">

</br>

<a class = "button" href="/slideshow/{{this.prev}}" title="Prev">Prev</a>
<a class = "button" href="/slideshow/{{this.next}}" title="Next">Next</a>
